{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Ah crap!</h1>
            <div>The servers are on fire, may be! Grab a bucket! Send halp!!!</div>
        </article>
    </section>
{% endblock %}