
<div class="navbar-left tweets">
    <p class="text-center">Tweets from T-Rex Problems</p>
    <p class="text-center">{{ isMac ? 'on a Mac' : 'Not on a Mac' }}</p>
    <ul>
        {% for tweet in tweets %}
            <li>{{ tweet }}</li>
        {% endfor %}
    </ul>
</div>

